*{  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  /* position: relative; */
}
.container{
  position: absolute;
    height: 50vh;
    width: 40vw;
    border: 5px solid white;
   
    left: 50%;
    top: 50%  ;
    transform: translate(-50%, -50%);
    

}

.main-container{
    /* position: relative; */

    /* height: 60vh;
    width: 50vw;
    border: 5px solid white;
   
    left: 50%;
    top: 50%  ;
    transform: translate(-50%, -50%); */
    
} 
  .row{
    /* margin-left: 3px; */
    margin:2px ;
    height: 32.8%;
    width: 100%;
    display: flex;
    /* border: 2px solid green; */
  }
  .box{
    
    width: 32.8%;
    height: 99.8%;
   
    /* margin-bottom: 5px; */
  }
  .reset{
    margin-top: 38%;
    margin-left: 57%;

    width: 80px;
    height: 30px;
    background-color: rgb(31, 49, 59);
    color: azure;
  }
  .reset:hover{
    background-color: rgb(221, 239, 233);
    color: rgb(31, 49, 59);
    border: 1px;
  }